@font-face {
    font-family: Nunito;
    src: url(../fonts/nunito.ttf);
}
:root {
    --bg-color: #cde8e5;
    --primary-color: #4d869c;
    --secondary-color: #7ab2b2;
    --white: #ffffff;
    --transparent-white: #ffffff80;
    --transparent-black: #00000020;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: Nunito, sans-serif;
}
html {
    font-size: 14px;
}
body {
    height: 100dvh;
    display: flex;
    justify-content: center;
    background-color: var(--bg-color);

    & > div {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
}
button {
    cursor: pointer;
    border: none;
    font-size: 2.5rem;
    padding: .2em 2em;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: var(--white);
    -webkit-tap-highlight-color: transparent;
}
.stage {
    display: flex;
}
body > :not(.stage) {
    display: none;
}
.silhouette {
    filter: contrast(0%) brightness(50%);
}

.intro {
    justify-content: center;
    gap: 2em;

    & .title {
        font-size: 5rem;
        text-align: center;
        color: var(--primary-color);
    }
    & div {
        overflow: hidden;
        
        & img {
            width: 25em;
        }
    }
}


.stage {
    justify-content: space-between;
    
    & > div {
        width: 100%;
    }
    & .game {
        display: grid;
        grid-template: 1fr 2fr / 1fr 1fr;
        height: 100%;
        background-color: var(--transparent-white);
    
        & .player, .computer{
            overflow: hidden;
            align-content: center;
            
            & img {
                width: 100%;
            }
        }
    }
}