@font-face {
    font-family: Nunito;
    src: url(../fonts/nunito.ttf);
}
:root {
    --bg-color: #fdfdd2;
    --primary-color: #ffb448;
    --secondary-color: #4f3933;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: Nunito, cursive;
    /* font-weight: bold; */
}
html {
    font-size: 14px;
}
body {
    height: 100dvh;
    display: flex;
    justify-content: center;
    background-color: var(--bg-color);

    & > div {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
}
button {
    cursor: pointer;
    border: none;
    width: min(90%, 350px);
    justify-content: center;
    font-size: 2.5rem;
    padding: .5em 2em;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: var(--bg-color);
    -webkit-tap-highlight-color: transparent;
}
.intro {
    display: flex;
}
body > :not(.intro) {
    display: none;
}
.silhouette img {
    filter: invert(50%) sepia(100%) saturate(150%) brightness(130%);
}

.intro {
    justify-content: center;
    gap: 3em;

    & .title {
        font-size: 5rem;
        text-align: center;
        color: var(--primary-color);
    }
    & div {
        width: 6em;
        height: 6em;
        background-image: url("../images/cursor.png");
        background-size: contain;
        display: grid;
        place-items: center;
        cursor: pointer;
        font-size: 3rem;
        letter-spacing: 2px;
        color: var(--bg-color);
    }
}

.stage {
    justify-content: space-around;

    & .level, .percentage {
        font-size: 3rem;
        color: var(--secondary-color);
    }
    & .image {
        position: relative;
        width: min(90dvw, 400px);
        aspect-ratio: 1 / 1;

        & .original {
            width: 0%;
            position: absolute;
            top: 0;
            overflow: hidden;
        }
        & img {
            width: min(90dvw, 400px);
        }
    }
    & .next-btn {
        display: none;
    }
}

.finish {
    justify-content: space-around;

    & p {
        width: min(90dvw, 400px);
        font-size: 1.6rem;
        color: var(--secondary-color);
        text-align: center;
        line-height: 2;
        letter-spacing: 2px;
    }
    & .title {
        font-size: 3rem;
        line-height: 1.5;
    }
}