@font-face {
    font-family: Equilibrium;
    src: url(../fonts/equilibrium.ttf);
}
:root {
    --bg-color: #e0f8cf;
    --field-color: #86c06c;
    --snake-color: #306850;
    --wall-color: #071821;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: Equilibrium, sans-serif;
    -webkit-tap-highlight-color: transparent;
}
html {
    font-size: 16px;
}
body {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);

    & > div {
        width: 90vmin;
        height: 90vmin;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        color: var(--wall-color);
        background-color: var(--field-color);
    }
}
.title {
    font-size: 7rem;
}
button {
    cursor: pointer;
    border: none;
    font-size: 3rem;
    padding: .5em;
    color: var(--wall-color);
    background-color: var(--snake-color);
}
.stage {
    display: flex;
}
body > :not(.stage) {
    display: none;
}

.intro div {
    display: flex;
    gap: 1em;
    margin-top: -5em;
}

.stage {
    position: relative;
    & .score {
        font-size: 2rem;
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
    }
    & #canvas {
        width: 100%;
        border: 1rem solid var(--wall-color);
    }
}

.finish .final-score {
    font-size: 4rem;
}

.settings > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5rem 1rem;
    text-align: center;
    
    & h3 {
        width: 100%;
        font-size: min(6vw, 3rem);
    }
    & input {
        width: 0;
        height: 0;
    }
    & label {
        cursor: pointer;
        font-size: 2.5rem;
        padding: .25em;
    }
    & input:checked + label {
        background-color: var(--snake-color);
    }
}