@media screen and (min-width: 600px) {
    html {
        font-size: 16px;
    }
    body > div {
        width: 80%;
        gap: 3em;
    }
    .finish {
        width: 70%;
    }
}

@media screen and (min-width: 900px) {
    html {
        font-size: 18px;
    }
    .stage .numbers {
        grid-template-columns: repeat(8, auto);
    }
    .finish {
        width: 40%;
    }   
}