@font-face {
    font-family: NewAthletic;
    src: url(../fonts/new-athletic.ttf);
}
:root {
    --bg-color: #cde8e5;
    --primary-color: #4d869c;
    --secondary-color: #7ab2b2;
    --white: #ffffff;
    --transparent-white: #ffffff80;
    --transparent-black: #00000020;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: NewAthletic, sans-serif;
}
html {
    font-size: 14px;
}
body {
    height: 100dvh;
    display: flex;
    justify-content: center;
    background-color: var(--bg-color);

    & > div {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
}
button {
    cursor: pointer;
    border: none;
    font-size: 2.5rem;
    padding: .2em 2em;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: var(--white);
    letter-spacing: 3px;
    -webkit-tap-highlight-color: transparent;
}
.intro {
    display: flex;
}
body > :not(.intro) {
    display: none;
}

.intro {
    justify-content: center;
    gap: 2em;

    & .title {
        font-size: 5rem;
        text-align: center;
        color: var(--primary-color);
    }
    & div {
        overflow: hidden;
        
        & img {
            width: 25em;
        }
    }
}


.stage {
    justify-content: space-between;
    
    & > div {
        width: 100%;
    }
    & .dashboard {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;  
        font-size: 1.5rem;
        text-align: center;
        letter-spacing: 3px;
        padding: 0;

        & > div {
            margin: .5em 0;
            
            & i {
                margin: .2em 0;
                font-size: 2.75rem;
                color: var(--primary-color);
            }
        }
    }
    & .game {
        display: grid;
        grid-template: 1fr 2fr / 1fr 1fr;
        height: 100%;
        background-color: var(--transparent-white);
    
        & .result {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            order: -1;
            grid-column: 1 / span 2;

            & h2 {
                font-size: 3.5rem;
                font-weight: normal;
            }
            & p {
                font-size: 1.75rem;
                color: var(--primary-color);
            }
        }
        & .player, .computer{
            overflow: hidden;
            align-content: center;
            
            & img {
                width: 100%;
            }
        }
    }
    & .input-choices {
        display: flex;
        justify-content: center;
        gap: 1em;

        & .inp-button img {
            cursor: pointer;
            width: 7em;
            -webkit-tap-highlight-color: transparent;

            &:hover {
                filter: none;
            }
        }
    }
}

.bg {
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100dvh;
    background-color: var(--transparent-black);

    & > div {
        display: none;
        flex-direction: column;
        align-items: center;
        width: max(50%, 350px);
        padding: 3em;
        border-radius: 10px;
        background-color: var(--secondary-color);
        
        & p, label {
            font-size: 2rem;
            text-align: center;
            color: var(--white);
        }
        & .display-name {
            font-size: 4.5rem;
            margin: .2em 0;
            letter-spacing: 5px;
        }
        & input {
            width: max(70%, 300px);
            font-size: 3.5rem;
            text-align: center;
            margin: .5em 0;
            padding: .2em;
            background-color: var(--bg-color);
            border: none;
            outline: none;
        }
        & .submit {
            min-width: 40%;
        } 
    }
}