@font-face {
    font-family: NewAthletic;
    src: url(../fonts/new-athletic.ttf);
}
:root {
    --bg-color: #f5f5f5;
    --primary-color: #00bfff;
    --white: #ffffff;
    --black: #000000;
    --darkgray: #2c2c2c;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: NewAthletic, sans-serif;
}
html {
    font-size: 14px;
}
body {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);

    & > div {
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
button {
    cursor: pointer;
    border: none;
}
.stage {
    display: flex;
}
body > :not(.stage) {
    display: none;
}

.intro {
    justify-content: center;
    gap: 2em;

    & .title {
        font-size: 6rem;
        color: var(--primary-color);
    }
    & .start-btn {
        font-size: 3rem;
        padding: .2em 2em;
        border-radius: 10px;
        background-color: var(--primary-color);
        color: var(--white);
    }
    & img {
        width: 30em;
    }
}


.stage {
    justify-content: space-between;
    
    & .dashboard {
        border-bottom: 5px solid red;
        width: 100%;
        font-size: 2rem;
        text-align: center;
        display: flex;
        justify-content: space-between;

        & i {
            font-size: 3rem;
        }
    }
    & .game {
        width: 100%;
        display: grid;
        grid-template: 1fr / 1fr 2fr 1fr;
    }
    & .input-choices {
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }
}

.finish {
    position: fixed;
    top: 0;
    left: 0;
    width: max(50%, 350px);
    height: auto;
    justify-content: space-between;

    & div {
        font-size: 3rem;
        text-align: center;
        color: var(--white);

        & p:last-of-type {
            font-size: 5rem;
            letter-spacing: 5px;
            margin-bottom: .5em;
        }
    }
    & .finish-btn {
        font-size: 3rem;
        padding: .2em 2em;
        border-radius: 10px;
        border: 2px solid var(--primary-color);
        color: var(--primary-color);
    }
}