@media screen and (min-width: 900px) {
    html {
        font-size: 16px;
    }
    .stage {
        & .dashboard {
            padding: 0 2em;
            flex-direction: row;
        }
        & .game {
            grid-template: 1fr / 2fr 3fr 2fr;
            
            & .result {
                order: 0;
                grid-column: 2 / span 1;
            }
        }
        & .input-choices .inp-button img {
            width: 9em;

            &:hover {
                filter: drop-shadow(5px 0 0 var(--secondary-color)) 
                    drop-shadow(0 5px 0 var(--secondary-color))
                    drop-shadow(-5px 0 0 var(--secondary-color)) 
                    drop-shadow(0 -5px 0 var(--secondary-color));
            }
        }
    }

}

/* @media screen and (min-width: 600px) {
    html {
        font-size: 16px;
    }
    body > div {
        height: 45em;
    }
}
@media screen and (min-width: 900px) {
    body > div {
        width: 55em;
        height: 35em;
    }
    .intro div {
        width: auto;
        grid-template: 1fr / 5em 14em 5em;
        margin-top: 5em;

        & .start-btn {
            grid-column: 2 / 3;
            order: 0;
        }
    }
    .stage .options {
        grid-template: 1fr 1fr / 1fr 1fr;

        & button {
            text-align: left;
        }
    }
    :is(.finish, .info, .settings) button {
        width: 7em;
    }
    :is(.info, .settings div) p {
        font-size: 1.5rem;
    }
    .settings div {
        width: auto;
        flex-direction: row;
        align-items: baseline;
        gap: 1em;

        & label {
            width: 6em;
        }
    }
}
@media screen and (min-width: 1200px) {
    html {
        font-size: 18px;
    }
} */