.stage {
    background-image: var(--sky-gradient);
    position: relative;
    width: 75rem;
    height: 120rem;

    & * { position: absolute }

    & .grass {
        bottom: 0;
        width: 100%;
        height: 12rem;
        background-color: var(--grass-color);
        box-shadow: 0 50vw 0 50vw var(--grass-color);
    }
    & .quarry {
        bottom: 10rem;
        left: 5rem;
        width: 20rem;
        border-radius: 50% 50% 0 0 / 90% 90% 0 0;
        /* filter: brightness(180%) contrast(50%); */
    }
    & .basket {
        left: 15rem;
        width: 8rem;
    }
    & .demo {
        width: 10rem;
    }
    & .wall {
        right: 5rem;
        bottom: 11rem;
        width: 5rem;
    }
}