.card-flip {
    animation: 1000ms flipCard forwards;
    transform-style: preserve-3d;
    
    & img {
        backface-visibility: hidden;
    }
}
.card-backflip {
    animation: 1000ms flipCardRev forwards;
    transform-style: preserve-3d;
    
    & img {
        backface-visibility: hidden;
    }
}

@keyframes flipCard {
    0%   { rotate: y 0deg   }
    100% { rotate: y 180deg }
}

@keyframes flipCardRev {
    0%   { rotate: y 0deg    }
    100% { rotate: y -180deg }
}

/* @keyframes tiltCard {
    0%   { rotate: 0deg  }
    100% { rotate: 10deg }
} */