.card-flip, .card-backflip {
    animation: 600ms flipCard forwards;
    transform-style: preserve-3d;
    
    & img {
        backface-visibility: hidden;
    }
}
.card-backflip {
    animation-name: flipCardRev;
}

.spin {
    animation: 5s fullFlip infinite linear;
    transform-style: preserve-3d;
}

@keyframes flipCard {
    0%   { rotate: y 0deg   }
    100% { rotate: y 180deg }
}

@keyframes flipCardRev {
    0%   { rotate: y 180deg }
    100% { rotate: y 0deg   }
}

@keyframes fullFlip {
    0%   { rotate: y 0deg   }
    70%  { rotate: y 360deg }
    100% { rotate: y 360deg }
}