.card-flip, .card-backflip {
    animation: 600ms flipCard forwards;
    transform-style: preserve-3d;
    
    & img {
        backface-visibility: hidden;
    }
}
.card-backflip {
    animation-name: flipCardRev;
}

@keyframes flipCard {
    0%   { rotate: y 0deg   }
    100% { rotate: y 180deg }
}

@keyframes flipCardRev {
    0%   { rotate: y 180deg }
    100% { rotate: y 0deg   }
}

/* @keyframes tiltCard {
    0%   { rotate: 0deg  }
    100% { rotate: 10deg }
} */