@font-face {
    font-family: Lobster;
    src: url(../fonts/lobster.ttf);
}
:root {
    --orange-color: #fb8500;
    --darkblue-color: #023047;
    --skyblue-color: #219ebc;
    --lightblue-color: #bbc7d3;
    --gray-color: #999999;
    --white-color: #ffffff;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: Lobster, sans-serif;
    font-weight: normal;
    color: var(--white-color);
    -webkit-tap-highlight-color: transparent;
}
html {
    font-size: 16px;
}
body {
    height: 100dvh;
    display: flex;
    justify-content: center;
    background-image: radial-gradient(var(--skyblue-color), var(--darkblue-color) 150%);

    & > div {
        width: min(90%, 1000px);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
}
& button {
    cursor: pointer;
    border: none;
    width: min(90%, 520px);
    font-size: min(12vw, 4rem);
    padding: .25em 0;
    border-radius: .5rem;
    background-color: var(--darkblue-color);
}
.intro {
    display: flex;
}
body > :not(.intro) {
    display: none;
}

.intro {
    justify-content: space-evenly;

    & .title {
        font-size: 3.5rem;
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
        gap: .25em;

        & > div {
            display: grid;
            place-content: center;
            width: 4.5em;
            aspect-ratio: 4 / 3;
            border-radius: .25em;
            background-color: var(--darkblue-color);
            
            &:nth-of-type(3n-2) {
                background-color: var(--orange-color);
            }
            & > img {
                width: 60%;
                place-self: center;
            }
        }
    }
}

.stage {
    flex-direction: row-reverse;
    gap: 3rem;

    & .cards-container {
        display: grid;
        grid-template: repeat(4, 1fr) / repeat(5, 1fr);
        justify-content: center;
        gap: .75em;
        perspective: 1500px;

        & .card {
            height: 20dvmin;
            aspect-ratio: 1 / 1;
            border-radius: .25em;
            background-color: var(--lightblue-color); 
            position: relative;
            
            & img {
                width: 100%;
                padding: 10%;
                position: absolute;
                top: 0;
                left: 0;

                &.front {
                    z-index: 2;
                    background-color: var(--darkblue-color);
                    transform: rotateY(0deg);
                }
                &.back {
                    transform: rotateY(180deg);
                    filter: drop-shadow(0 0 5px var(--gray-color));
                    
                }
            }
        }
    }
    & .moves {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2rem;
        padding: .5em 1em;
        border: 2px solid var(--white-color);
        border-radius: .15em;

        & .num-moves {
            font-size: 1.5em;
        }
    }
}

.finish {
    & h1 {
        font-size: 6rem;
    }
    & .title {
        display: flex;
        gap: .75em;

        & div {
            display: grid;
            place-content: center;
            font-size: 3.5rem;
            width: 3em;
            aspect-ratio: 1 / 1;
            border-radius: .1em;
            background-color: var(--orange-color);
        }
    }
}