@font-face {
    font-family: Lobster;
    src: url(../fonts/lobster.ttf);
}
:root {
    --orange-color: #fb8500;
    --yellow-color: #ffb703;
    --darkblue-color: #023047;
    --skyblue-color: #219ebc;
    --lightblue-color: #8ecae6;
    --white-color: #ffffff;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: Lobster, sans-serif;
    font-weight: normal;
    color: var(--white-color);
    -webkit-tap-highlight-color: transparent;
}
html {
    font-size: 16px;
}
body {
    height: 100dvh;
    display: flex;
    justify-content: center;
    background-image: radial-gradient(var(--skyblue-color), var(--darkblue-color) 150%);

    & > div {
        width: min(90%, 1000px);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
}
& button {
    cursor: pointer;
    border: none;
    font-size: 3rem;
    /* width: min(100%, 500px); */
    padding: .25em 0;
    background-color: var(--orange-color);
}
.stage {
    display: flex;
}
body > :not(.stage) {
    display: none;
}

.intro {
    justify-content: space-evenly;

    & .title {
        font-size: 1.8rem;
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
        gap: .25em;

        & > div {
            display: grid;
            place-content: center;
            width: 4.5em;
            aspect-ratio: 4 / 3;
            border-radius: .25em;
            background-color: var(--orange-color);
            
            &:nth-of-type(3n-2) {
                background-color: var(--darkblue-color);
            }
        }
    }
}

.stage {
    & .cards-container {
        width: 100%;
        display: grid;
        grid-template: repeat(4, 1fr) / repeat(5, 1fr);
        justify-content: center;
        gap: .75em;
        perspective: 500px;

        & .card {
            display: flex;
            background-color: var(--white-color);
            border-radius: .25em;
            aspect-ratio: 4 / 3;

            /* &:empty {
                display: none;
            } */
            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
            }
        }
    }
}

.finish {
    text-align: center;

    & h1 {
        font-size: 5rem;
    }
    & h3 {
        font-size: 2rem
    }
    & p {
        font-size: 8rem;
    }
}