@font-face {
    font-family: Staatliches;
    src: url(../fonts/staatliches.ttf);
}
:root {
    --white-color: #fcf7d3;
    --lighter-color: #f8cf99;
    --light-color: #f1ac8c;
    --medium-color: #e98d78;
    --dark-color: #d56868;
    --darker-color: #592d2d;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: Staatliches, sans-serif;
    font-weight: normal;
    color: var(--darker-color);
    -webkit-tap-highlight-color: transparent;
}
html {
    font-size: 14px;
}
body {
    height: 100dvh;
    display: flex;
    justify-content: center;
    background-image: radial-gradient(circle, var(--lighter-color) 30%, var(--light-color), var(--dark-color));

    & > div {
        width: min(90%, 800px);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
}
& button {
    cursor: pointer;
    border: none;
    font-size: 3rem;
    width: min(100%, 500px);
    padding: .25em 0;
    border-radius: .2em;
    background-color: var(--white-color);
    box-shadow: 0 0 .25em var(--medium-color);
}
.intro {
    display: flex;
}
body > :not(.intro) {
    display: none;
}

.intro {
    justify-content: space-evenly;

    & .title {
        position: relative;
        width: 100%;
        height: 30em;
        display: flex;
        justify-content: center;
        align-items: center;

        & > div {
            position: absolute;
            z-index: -1;
            background-color: var(--medium-color);
            box-shadow: 0 0 0 .5em var(--white-color);
            width: 18em;
            aspect-ratio: 3 / 4;
            border-radius: 1em;
            
            &:first-of-type {
                background-color: var(--dark-color);
                transform-origin: bottom left;
                animation: tiltCard 500ms forwards;
            }
        }
        & h1 {
            font-size: 7rem;
            text-align: right;
            color: var(--white-color);
            text-shadow: .2rem .2rem .2rem var(--darker-color);
            margin-left: 2rem;

            &::first-line {
                font-size: 5rem;
            }
            &::first-letter {
                margin-left: -8rem;
            }
        }
    }
}

.stage {
    & .progress {
        font-size: 2rem;
        text-align: center;

        & .level {
            margin-bottom: .25em;
        }
    }
    & .cards-container {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        gap: .5em;
        perspective: 500px;

        & > div {
            display: flex;
            width: min(calc((100% - 1em) / 3), 10em);
            background-color: var(--white-color);
            border: .25em solid var(--white-color);
            border-radius: .25em;
            aspect-ratio: 1 / 1;

            &:empty {
                display: none;
            }
            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
            }
        }
    }
}

.finish {
    text-align: center;

    & h1 {
        font-size: 5rem;
    }
    & h3 {
        font-size: 2rem
    }
    & p {
        font-size: 8rem;
    }
}