@media screen and (min-width: 600px) {
    .intro .title {
        font-size: 3.5rem;

        & > div { 
            aspect-ratio: 4 / 3 
        }
    }
    .finish .title div {
        font-size: 4rem 
    }
}

@media screen and (min-width: 800px) {
    html {
        font-size: 16px;
    }
    .stage .cards-container {
        grid-template: repeat(4, 1fr) / repeat(5, 1fr);
        gap: .5em;
        
        & .card { 
            height: 18dvmin 
        }
    }
}

@media screen and (min-width: 1200px) {
    .stage {
        flex-direction: row-reverse;

        & .cards-container .card { 
            height: 22dvmin 
        }
        & .moves {
            flex-direction: column;
            font-size: 2rem;
            gap: 0;
        }
    }
}