@font-face {
    font-family: Poppins;
    src: url(../fonts/poppins.ttf);
}
:root {
    --black-color: #000000;
    --bg-color: #ffee8c;
    --transparent-black: #00000010;
    --primary-color: #e56b6f;
    --secondary-color: #af0843;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    color: var(--black-color);
    -webkit-tap-highlight-color: transparent;
}
html {
    font-size: 14px;
}
body {
    height: 100dvh;
    display: flex;
    justify-content: center;
    background-color: var(--bg-color);
    background-image:  linear-gradient(var(--transparent-black) .25em, transparent .25em), 
        linear-gradient(to right, var(--transparent-black) .25em, transparent .25em);
    background-size: 2em 2em;

    & > div {
        width: min(90%, 400px);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}
& button {
    cursor: pointer;
    border: none;
    font-size: 3rem;
    padding: .25em 0;
    border-radius: .2em;
    letter-spacing: .1em;
    background-color: var(--secondary-color);
    transition: background-color 400ms;
    
    &:hover {
        background-color: color-mix(in srgb, var(--primary-color) 60%, var(--secondary-color));
    }
}
.hidden-key {
    pointer-events: none;
    visibility: hidden;
}
.intro {
    display: flex;
}
body > :not(.intro) {
    display: none;
}

.intro {
    & .title {
        font-size: 2.5rem;
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
        gap: .4em;

        & > div {
            display: grid;
            place-items: center;
            aspect-ratio: 1 / 1;
            border-radius: .5rem;
            background-color: var(--primary-color);
            rotate: -10deg;

            &:nth-child(odd) {
                font-size: 5.5rem;
            }
        }
    }
}

.stage {
    & .level {
        align-self: center;
        font-size: 2.5rem;
        color: var(--secondary-color);
    }
    & .pictures {
        display: grid;
        grid-template: repeat(2, auto) / repeat(2, 1fr);
        gap: 1em;

        & > div img {
            width: 100%;
            height: 100%;
            border: .4rem solid var(--secondary-color);
            object-fit: cover;
            border-radius: .5em;
        }
    }
    & .word {
        font-size: 1.75rem;
        display: flex;
        justify-content: center;
        gap: .25em;
        text-transform: uppercase;
        
        & > div {
            display: grid;
            place-items: center;
            width: 2em;
            height: 2em;
            border-radius: .25em;
            background-color: color-mix(in srgb, var(--primary-color) 60%, var(--secondary-color));
        }
    }
    & .keyboard {
        cursor: pointer;
        font-size: 1.5rem;
        display: grid;
        grid-template: auto / repeat(9, 1fr);
        gap: .25em;
        
        & > div {
            display: grid;
            place-items: center;
        }
    }
}

.finish {
    & * {
        color: var(--secondary-color);
        text-align: center;
    }
    & .title h1 {
        font-size: min(5rem, 17vw);
    }
    & .title h3 {
        font-size: min(1.8rem, 6vw);
    }
    & .message p {
        font-size: min(1.4rem, 5vw);
        text-align: justify;
        margin-bottom: .5em;
        font-weight: normal;
    }
    & .message b {
        font-size: min(1.5rem, 5.5vw);
        text-align: center;
    }
    & .finish-btn {
        font-size: 2.5rem;
        color: var(--white-color);
    }
}