@font-face {
    font-family: ShadowsIntoLight;
    src: url(../fonts/shadows-into-light.ttf);
}
:root {
    --black-color: #000000;
    --bg-color: #ffee8c;
    --transparent-black: #00000010;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: ShadowsIntoLight, monospace;
    font-weight: bold;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: var(--black-color);
    -webkit-tap-highlight-color: transparent;
}
html {
    font-size: 14px;
}
body {
    height: 100dvh;
    display: flex;
    justify-content: center;
    background-color: var(--bg-color);
    background-image:  linear-gradient(var(--transparent-black) .25em, transparent .25em), 
        linear-gradient(to right, var(--transparent-black) .25em, transparent .25em);
    background-size: 2em 2em;
    background-position: center;

    & > div {
        width: min(90%, 400px);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}
& button {
    cursor: pointer;
    font-size: 3rem;
    padding: .25em 0;
    background-color: transparent;
    border: .25em solid var(--black-color);
    border-radius: 90% .25em / .25em 90%;
}
/* .hidden-key {
    pointer-events: none;
    visibility: hidden;
} */
.stage {
    display: flex;
}
body > :not(.stage) {
    display: none;
}

.intro {
    & .title {
        font-size: 5.5rem;
        text-align: center;
    }
}

.stage {
    & .score {
        display: flex;
        justify-content: space-between;
        font-size: 1.5rem;

        & p {
            text-transform: lowercase;

            & span {
                font-size: 1.5em;
            }
        }
    }
    & .word {
        font-size: 1.75rem;
        display: flex;
        justify-content: center;
        gap: .25em;
        
        & > div {
            display: grid;
            place-items: center;
            width: 2em;
            height: 2em;
            border-bottom: .1em solid var(--black-color);
            border-radius: 0% 0% .5em 85% / 0% 0% .1em .1em;
        }
    }
    & .keyboard {
        cursor: pointer;
        font-size: 1.5rem;
        display: grid;
        grid-template: auto / repeat(9, 1fr);
        gap: .25em;
        
        & > div {
            display: grid;
            place-items: center;
        }
    }
}

.finish {
    & * {
        color: var(--secondary-color);
        text-align: center;
    }
    & .title h1 {
        font-size: min(5rem, 17vw);
    }
    & .title h3 {
        font-size: min(1.8rem, 6vw);
    }
    & .message p {
        font-size: min(1.4rem, 5vw);
        text-align: justify;
        margin-bottom: .5em;
        font-weight: normal;
    }
    & .message b {
        font-size: min(1.5rem, 5.5vw);
        text-align: center;
    }
    & .finish-btn {
        font-size: 2.5rem;
        color: var(--white-color);
    }
}