@media screen and (min-width: 600px) {
    html {
        font-size: 16px;
    }
}

@media screen and (min-width: 1000px) {
    & button {
        width: 500px;
        align-self: center;
    }
    body > div {
        width: min(90%, 1200px);

        & .title.title {
            font-size: 5rem;
        }
    }
    .stage {
        grid-template: 2fr 1fr 2fr / repeat(2, 1fr);
        gap: 3em 5em;
        align-items: center;

        & .score {
            align-self: flex-end;
        }
        & .hangman-drawing {
            grid-row: span 3;
        }
        & .keyboard {
            align-self: flex-start;
        }
    }
}