@font-face {
    font-family: Lato;
    src: url(../fonts/lato.ttf);
}
@font-face {
    font-family: MaShanZheng;
    src: url(../fonts/ma-shan-zheng.ttf);
}
:root {
    --deep-magenta: #cc007a;
    --white: #f4ece1;
    --gray: #575757;
    --red: #f72c2c;
    --gold: #ffd700;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: Lato, sans-serif;
    color: var(--gray);
    -webkit-tap-highlight-color: transparent;
}
html {
    font-size: 14px;
}
body {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);

    & > div {
        width: min(1000px, 90%);
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
button {
    width: min(400px, 90%);
    cursor: pointer;
    border: none;
    font-size: 2.5rem;
    border-radius: 3em;
    padding: .25em 0;
    color: var(--white);
    background-color: var(--deep-magenta);
}
.intro {
    display: flex;
}
body > :not(.intro) {
    display: none;
}

.intro {
    gap: 4em;

    & .title {
        font-family: MaShanZheng, sans-serif;
        font-size: 6rem;
        font-weight: normal;
        text-align: center;
    }
}

.stage {
    height: min(800px, 90%);
    justify-content: space-between;
    
    & .question-number {
        height: 3rem;
        font-size: 2.25rem;
        text-align: center;
    }
    & .question {
        font-size: 2.25rem;
        text-align: center;
    }
    & .options {
        width: 100%;
        display: grid;
        grid-template: auto / 1fr;
        gap: 1em;
        
        & button {
            width: 100%;
            font-size: 1.8rem;
            padding: .5em 0;

            &:empty {
                display: none;
            }
        }
    }
    & .lives {
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        gap: .5em;
        
        & img {
            width: 2.5rem;
        }
    }
}

.finish {
    gap: 2em;

    & h1 {
        font-family: MaShanZheng, sans-serif;
        font-size: 6rem;
        font-weight: normal;
        text-align: center;
    }
    & .medal {
        position: relative;
        margin-top: 4rem;
        margin-top: 50px;
        width: 18rem;
        width: 250px;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        display: grid;
        place-items: center;
        background-color: var(--gold);
        box-shadow: inset 0 0 0 28px color-mix(in srgb, var(--gold) 85%, var(--red)),
                    inset 0 0 0 35px color-mix(in srgb, var(--gold) 75%, var(--red));

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: -50px;
            width: 60px;
            height: 85px;
            transform: skewX(30deg);
            transform-origin: bottom;
            z-index: -1;
            background-color: color-mix(in srgb, var(--red) 60%, var(--gray));
        }
        &::after {
            transform: skewX(-30deg);
            background-color: var(--red);
        }
        & span {
            font-size: 65px;
            font-weight: bold;
            color: color-mix(in srgb, var(--gold) 60%, var(--red));
        }
    }
    & p {
        font-size: 1.5rem;
    }
}