@media screen and (min-width: 600px) {
    html {
        font-size: 16px;
    }
}
@media screen and (min-width: 900px) {
    .intro .title {
        font-size: 8rem;
    }
    .stage {
        height: min(500px, 90%);

        & .options {
            grid-template: 1fr 1fr / 1fr 1fr;
        }
        & .lives {
            align-self: flex-end;
        }
    }
}